.container-todo {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 5px 5px 10px #00000077;
}
/* 

@media (max-width: 400px) {
    body {
        padding: 0;
    }
    .container-todo {
        width: 400px;
        height: 100vh;
    }
} */